body {
    margin: 0;
    padding: 0;
    background: #de433f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    position: relative;
    width: 215px;
    height: 405px;
    background: green;
}

.forehead {
    position: absolute;
    width: 170px;
    height: 200px;
    background: yellow;
    border: 1px solid black;
    top: 10px;
    border-radius: 60%/50%;
    transform: rotate(-18deg);
}

.hair-1 {
    position: absolute;
    width: 80px;
    height: 70px;
    border-top: 2px solid black;
    top: 15px;
    border-radius: 50%;
    transform: rotate(-40deg);
}

.hair-2 {
    position: absolute;
    width: 80px;
    height: 70px;
    border-top: 2px solid black;
    left: 10px;
    border-radius: 50%;
    transform: rotate(-30deg);
}

.eye-right {
    position: absolute;
    width: 75px;
    height: 75px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    left: 120px;
    top: 110px;
}

.pupil-right {
    position: absolute;
    width: 9px;
    height: 9px;
    background: black;
    border-radius: 50%;
    left: 35px;
    top: 40px;
}

.eye-left {
    position: absolute;
    width: 75px;
    height: 75px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    left: 60px;
    top: 115px;
}

.pupil-left {
    position: absolute;
    width: 9px;
    height: 9px;
    background: black;
    border-radius: 50%;
    left: 35px;
    top: 40px;
}

/* NOSE */
.f-side-1 {
    position: absolute;
    width: 140px;
    height: 60px;
    background: yellow;
    top: 185px;
    left: 30px;
}

.f-side-2 {
    position: absolute;
    width: 40px;
    height: 60px;
    background: yellow;
    top: 165px;
    left: 22px;
    transform: rotate(-11deg);
    border-left: 1px solid black;
}

.nose {
    position: absolute;
    width: 60px;
    height: 32px;
    background: yellow;
    top: 175px;
    left: 130px;
    border-radius: 0 20px 20px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

