body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    border: 0.2rem solid white;
    padding: 1.4rem 2.8rem;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

a:before {
    content: 'THANK YOU!';
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: cornflowerblue;
    transform: translateY(-100%);
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover:before {
    transform: translateY(0);
}