body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #272727;
    font-size: 2rem;
    border: 0.2rem solid black;
    padding: 1.2rem 2.5rem;
    position: relative;
    
}

a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: cornflowerblue;
    width: 110%;
    height: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: all 1s;
}

a:hover::before {
    transform: rotate(0deg);
}