body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    padding: 1.2rem 2.5rem;
    color: #e1332d;
    border: 0.2rem solid #e1332d;
    font-size: 2rem;
    transition: all 0.5s;
    font-weight: 300;
    letter-spacing: -2px;
}

a:hover {
    font-weight: 700;
    letter-spacing: 8px;
    border: 0.4rem solid #e1332d;
}