body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00bfff, #87CEEB, #87CEFA);
}

.pepsi {
    height: 300px;
    width: 300px;
    background: #004b93;
    border-radius: 50%;
    border: 10px solid white;
    position: relative;
    overflow: hidden;
}

.pepsi::before {
    content: '';
    position: absolute;
    height: 400px;
    width: 500px;
    border-radius: 25%;
    background: white;
    top: -160px;
    left: -240px;
    transform: rotate(-18deg);
}

.pepsi::after {
    content: '';
    position: absolute;
    height: 500px;
    width: 550px;
    border-radius: 50%;
    background: #c9002b;
    top: -275px;
    left: -300px;
}